.Notifications {
  padding: 1em;
  border: 2px dashed red;
  position: absolute;
  top: 10px;
  width: 95vw;
}

[data-notification-type="default"] {
  color: blue;
}

[data-urgent],
[data-notification-type="urgent"] {
  color: red;
}
