:root {
    --holberton-red: #e1484c;
}

.App-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    border-bottom: 3px solid var(--holberton-red);
    margin-top: 30px;
}

.App-header img {
    width: 150px;
}

.App-header h1 {
    margin: auto auto auto 0;
    color: var(--holberton-red);
}
