:root {
    --holberton-red: #e1484c;
}

.App-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.App-footer p {
    text-align: center;
    border-top: 3px solid var(--holberton-red);
    padding: 16px 0;
}
